.tvshowtable {
	margin: 2% auto;
	padding: 0px;
	width: 100%;
	border: 3px solid #323436;
	overflow: hidden;
	
	-moz-border-radius-bottomleft:20px;
	-webkit-border-bottom-left-radius:20px;
	border-bottom-left-radius:20px;
	
	-moz-border-radius-bottomright:20px;
	-webkit-border-bottom-right-radius:20px;
	border-bottom-right-radius:20px;
	
	-moz-border-radius-topright:20px;
	-webkit-border-top-right-radius:20px;
	border-top-right-radius:20px;
	
	-moz-border-radius-topleft:20px;
	-webkit-border-top-left-radius:20px;
	border-top-left-radius:20px;
}

.tvshowtable table{
	width:100%;
	height:100%;
	margin: 2% auto;
	padding:0px;
	overflow: hidden;
}

.tvshowtable td{
	vertical-align: middle;
	background-color: #222;
	border: 3px solid #323436;
	border-width: 0px;
	text-align: center;
	padding: 10px;
	font-size: 10px;
	font-weight: normal;
	color: #fffcfc;
}

.tvshowtable tr td:last-child{
	border-width:0px;
	text-align: left;
	padding: 2%;
}

.tvshowtable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.tvshowtable tr:first-child td{
	background:-o-linear-gradient(bottom, #111 5%, #eee 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #111), color-stop(1, #eee) );
	background:-moz-linear-gradient( center top, #111 5%, #eee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#111", endColorstr="#eee");	
	background: -o-linear-gradient(top,#111,eee);
	background-color:#111;
	border: 0px solid #red;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-weight: bold;
	color: #000;
}

.tvshowtable tr:first-child td:first-child{
	border-width:0px;
}
.tvshowtable tr:first-child td:last-child{
	border-width:0px;
}